<!DOCTYPE html>
<html>
  <head>
    <% if request.path == '/'%>
      <title>CNCCollectData</title>
    <% end %>
    <title><%= @machine.title if @machine  %></title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <form id='locale-form' action="/selected-locale" method="post">
        <select name="locale" id="">
          <option value="ru" <%= 'selected' if I18n.locale == :ru %>>Русский</option>
          <option value="en" <%= 'selected' if I18n.locale == :en %>>Английский</option>
        </select>
      </form>
      <% if @machines %>
        <a class="btn-floating btn-large waves-effect waves-light teal lighten-1 left bottom" id="add-button" href="/admin/machine/new"><i class="material-icons">add</i></a>
        <p id="machine-count"><%= I18n.t(:machine_count) %> <%= @machines.count  %></p>
      <% end %>
      <% unless @machines %>
        <a class=" btn-large waves-effect waves-light left bottom" id="add-button" href="<%= root_path %>"><i class="material-icons">arrow_back</i></a>
      <% end %>
      <% if @machine %>
        <a class=" btn-large waves-effect waves-light left bottom" id="add-button" href="<%= documentations_path(@machine.id) %>"><%= I18n.t(:documentation) %></a>
      <% end %>
      <% if @machine && @machine.reviews.first.present? %>
        <a class=" btn-large waves-effect waves-light left bottom" id="add-button" href="<%= reviews_path(@machine.id) %>"><%= I18n.t(:review) %></a>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
