<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <form id='locale-form' action="selected_locale" method="post">
        <select name="locale" id="">
          <option value="ru" <%= 'selected' if I18n.locale == :ru %>>Русский</option>
          <option value="en" <%= 'selected' if I18n.locale == :en %>>Английский</option>
        </select>
      </form>
      <% if @machines %>
        <p><%= I18n.t(:machine_count) %> <%= @machines.count  %></p>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
